[submodule "messenger"]
	path = messenger
	url = git@github.com:benni347/messenger.git
	branch = main
[submodule "messengerutils"]
	path = messengerutils
	url = git@github.com:benni347/messengerutils.git
